DETERMINATION

# DETERMINATION

In [17]:
Student=("Nawamwena: Nazifa")

In [18]:
print(Student)

Nawamwena: Nazifa

# Create a dictionary with elements as your surname and first name

In [4]:
name_list=["chicken roll", "bang bang chicken", "egg roll", "cumber"]

In [6]:
for name in name_list:
    print(name)

chicken roll
bang bang chicken
egg roll
cumber

## Import libraries

# Create a dictionary with lists of [student name, subject and grade]

In [3]:
import numpy as np
import pandas as pd

In [2]:
student_info = {
    'student':['Alice', 'Bob','Alice', 'Bob'],
    'subject':['math', 'math', 'science', 'science'],
    'grade':[90,88,95,92]
}

# Create a data frame

In [4]:
df=pd.DataFrame(student_info)

In [5]:
df

  student  subject  grade
0   Alice     math     90
1     Bob     math     88
2   Alice  science     95
3     Bob  science     92